/* Reset and full-height container */
.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Ensure no scrollbars */
}

.solar-system {
  height: 100%;
  width: 100%;
  background-image: url("./assets/b.jpg"); /* Replace with your background image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centering the sun */
.sun {
  height: 140px;
  width: 140px;
  background-image: url("./assets/sun.png"); /* Replace with your sun image */
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  z-index: 10; /* Ensure sun is above orbits */
}

/* General orbit styles */
.orbit {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Orbit sizes and animations */
.mercury-orbit {
  height: 160px;
  width: 160px;
  border: 1px solid rgba(231, 222, 222, 0.295);
  animation: rotate-orbit 2s linear infinite;
}

.mercury {
  height: 40px;
  width: 40px;
  background-image: url("./assets/mercury.png"); /* Replace with your mercury image */
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: xx-small;
  font-weight: bold;
  animation: rotate-orbit 2s linear infinite;
}

.venus-orbit {
  height: 270px;
  width: 270px;
  border: 1px solid rgba(223, 209, 209, 0.342);
  animation: rotate-orbit 4s linear infinite;
}

.venus {
  height: 50px;
  width: 50px;
  background-image: url("./assets/venus.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: rotate-orbit 2s linear infinite;
}

.earth-orbit {
  height: 400px;
  width: 400px;
  border: 1px solid rgba(223, 209, 209, 0.342);
  animation: rotate-orbit 10s linear infinite;
}

.earth {
  height: 70px;
  width: 70px;
  background-image: url("./assets/earth.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: 50%;

  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: rotate-orbit 2s linear infinite;
}

.mars-orbit {
  height: 550px;
  width: 550px;
  border: 1px solid rgba(194, 181, 181, 0.164);
  animation: rotate-orbit 15s linear infinite;
}

.mars {
  height: 80px;
  width: 80px;
  background-image: url("./assets/mars.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  animation: rotate-orbit 2s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}

.jupiter-orbit {
  height: 750px;
  width: 750px;
  border: 0;
  animation: rotate-orbit 45s linear infinite;
  transform: rotate(-360deg);
}

.jupiter {
  height: 105px;
  width: 105px;
  background-image: url("./assets/jupitor.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  animation: rotate-orbit 10s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-360deg);
}

.saturn-orbit {
  height: 900px;
  width: 600px;
  border: 0;
  animation: rotate-orbit 80s linear infinite;
}

.saturn {
  height: 125px;
  width: 125px;
  background-image: url("./assets/saturn.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  animation: rotate-orbit 25s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uranus-orbit {
  height: 750px;
  width: 950px;
  border: 0;
  transform: rotate(-45deg);
  animation: rotate-orbit 115s linear infinite;
}

.uranus {
  height: 105px;
  width: 105px;
  background-image: url("./assets/uranus.png"); /* Replace with your uranus image */
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;

  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate-orbit 115s linear infinite;
  overflow: hidden;
}

.neptune-orbit {
  height: 950px;
  width: 950px;
  border: 0;
  animation: rotate-orbit 200s linear infinite;

  transform: rotate(90deg);
}

.neptune {
  height: 105px;
  width: 105px;
  background-image: url("./assets/neptune.png"); /* Replace with your neptune image */
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  animation: rotate-orbit 10s linear infinite;
}

/* Keyframes for rotating orbits */
@keyframes rotate-orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
