.wrapper {
  margin: 0px;
  padding: 0px;
}
.solar-system {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.sun {
  height: 140px;
  width: 140px;
  background-image: url(./assets/sun.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  bottom: 45%;
  animation: rotate 30s linear infinite;
  transform: translate(-50%, -50%);
}
.mercury-orbit {
  height: 160px;
  width: 160px;
  border: 1px solid rgba(231, 222, 222, 0.295);
  position: absolute;
  left: 44%;
  bottom: 44%;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  transform: translate(-50%, -50%);
}
.mercury {
  height: 30px;
  width: 30px;
  background-image: url(./assets/mercury.png);
  border-radius: 50%;
  background-position: center;
  position: absolute;
  left: 5%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: xx-small;
  justify-content: center;
  align-items: center;
  animation: rotate 2s linear infinite;
}
.venus-orbit {
  height: 270px;
  width: 270px;
  border: 1px solid rgba(223, 209, 209, 0.342);
  position: absolute;
  left: 39%;
  bottom: 38%;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.venus {
  height: 50px;
  width: 50px;
  background-image: url(./assets/venus.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 10%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: xx-small;
  justify-content: center;
  align-items: center;
  animation: rotate 2s linear infinite;
}
.earth-orbit {
  height: 400px;
  width: 400px;
  border: 1px solid rgba(221, 204, 204, 0.363);
  position: absolute;
  left: 33%;
  bottom: 31.5%;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}
.earth {
  height: 70px;
  width: 70px;
  background-image: url(./assets/earth.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 10%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: xx-small;
  justify-content: center;
  align-items: center;
  animation: rotate 2s linear infinite;
}
.mars-orbit {
  height: 550px;
  width: 550px;
  border: 1px solid rgba(194, 181, 181, 0.164);
  position: absolute;
  left: 26%;
  bottom: 24.5%;
  border-radius: 50%;
  animation: rotate 15s linear infinite;
}
.mars {
  height: 80px;
  width: 80px;
  background-image: url(./assets/mars.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 12%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: small;
  justify-content: center;
  align-items: center;
  animation: rotate 2s linear infinite;
}

.jupiter-orbit {
  height: 750px;
  width: 750px;
  border: 0px solid rgb(161, 17, 17);
  position: absolute;
  left: 17%;
  bottom: 15.5%;
  border-radius: 50%;
  animation: rotate 35s linear infinite;
}
.jupiter {
  height: 105px;
  width: 105px;
  background-image: url(./assets/jupitor.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 12%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: small;
  justify-content: center;
  align-items: center;
  animation: rotate 45s linear infinite;
  overflow: hidden;
}
.saturn-orbit {
  height: 600px;
  width: 950px;
  border: 0px solid rgb(161, 17, 17);
  position: absolute;
  left: 5.5%;
  bottom: 20.5%;
  border-radius: 50%;
  animation: rotate 105s;
}

.saturn {
  height: 125px;
  width: 125px;
  background-image: url(./assets/saturn.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 10%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: xx-small;
  justify-content: center;
  align-items: center;

  animation: rotate 15s linear infinite;
}
.uranus-orbit {
  height: 950px;
  width: 550px;
  border: 0px solid rgb(161, 17, 17);
  position: absolute;
  left: 25.5%;
  bottom: 2.5%;

  border-radius: 50%;
  transform: rotate(-45deg); /* Rotate the element 45 degrees to the left */
  transform-origin: center;
  animation: rotate 115s linear infinite;
}
.uranus {
  height: 105px;
  width: 105px;
  background-image: url(./assets/uranus.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 10%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: small;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg);
  transform-origin: center;
  animation: rotate 5s linear infinite;
  overflow: hidden;
}

.neptune-orbit {
  height: 850px;
  width: 550px;
  border: 0px solid rgb(161, 17, 17);
  position: absolute;
  left: 25.5%;
  bottom: 6.5%;
  border-radius: 50%;
  animation: rotate 45s linear infinite;
}
.neptune {
  height: 105px;
  width: 105px;
  background-image: url(./assets/neptune.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 10%;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: xx-small;
  justify-content: center;
  align-items: center;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
